body{
    background-color:#edf8fe
}

p{
    color:#717175
}

h1{
    text-transform:uppercase;
    text-align:center;
}

#nav{
    height:50px;
    width:100%;
    background-color:#df0d0b;
    display:inline-block;
    text-align:center;
}

#nav2{
    padding:15px;
}

.gamelist{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    border: 1px solid #000;
    padding: 1.5em;
    max-width:400px;
}

#nav a{
    padding:15px;
    text-decoration:none;
    color:white;
    font-size:1.2em;
    text-transform:uppercase;
}
